# App
APP_PORT=3000
APP_GLOBAL_PREFIX=api/v1
NODE_ENV=development

# DB
DB_HOST=hh-pgsql-public.ebi.ac.uk
DB_PORT=5432
DB_USER=reader
DB_NAME=pfmegrnargs
DB_PASSWORD=NWDMCE5xdipIjRrp

# JWT
JWT_SECRET=jwt-secret-key
JWT_EXPIRES_IN=1h

# Swagger
SWAGGER_PATH=docs